# Requirements
# Compatible libraries
!pip install langchain==0.1.0
!pip install python-dotenv==0.19.2
!pip install streamlit==1.7.1
!pip install tiktoken==0.3.3
!pip install faiss-cpu==1.7.1
!pip install protobuf==3.19.4
!pip install InstructorEmbedding
!pip install faiss-gpu
!pip install -U sentence-transformers==2.2.2